@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: transparent;
  font-family: Lato;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333333;
}

p {
  color: #333333;
}

h2 {
  color: #333333;
}

h3 {
  color: #333333;
}

/*main container wrapper*/
.mainContainer {
  margin: 30px;
  width: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/hero.jpg);
  background-size: cover;
  /*Navigation menu section*/
  /*legend section*/
}
.mainContainer .navbar {
  height: 70px;
  background-color: transparent;
  padding: 0;
}
.mainContainer .navbar .navbar-brand {
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  margin-left: 13%;
  transition: all;
  transition-duration: 1s;
}
.mainContainer .navbar .navbar-brand:hover, .mainContainer .navbar .navbar-brand:focus {
  transform: scale(1.2);
  -webkit-text-stroke: 1px #fff;
  -webkit-text-stroke-color: transparent;
}
.mainContainer .navbar .navbar-collapse {
  justify-content: flex-end;
}
.mainContainer .navbar .navbar-collapse .navbar-nav {
  width: 70% !important;
  position: relative;
}
.mainContainer .navbar .navbar-collapse .navbar-nav .last {
  position: absolute;
  right: 0 !important;
}
.mainContainer .navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 0 10px;
}
.mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 10px 0x;
  font-weight: 800;
  transition: all;
  transition-duration: 1s;
}
.mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  border-bottom: 2px solid #fff;
  transform: translateY(-5px);
}
.mainContainer .legend {
  padding: 250px;
  margin-bottom: 90px;
  color: #fff;
  /*legend introduction text*/
}
.mainContainer .legend .legend__text {
  width: 100%;
}
.mainContainer .legend .legend__text .introText {
  text-align: center;
}
.mainContainer .legend .legend__text .introText .introText__heading {
  font-size: 50px;
  line-height: 54px;
  margin-bottom: 30px;
  font-weight: 800;
}
.mainContainer .legend .legend__text .introText .introText__heading span {
  opacity: 0.8;
  font-weight: 400;
}
.mainContainer .legend .legend__text .introText .introText__link a {
  color: #fff;
  font-weight: 800;
  padding: 10px 0;
  border-bottom: 2px solid #fff;
  transition: all;
  transition-duration: 1s;
}
.mainContainer .legend .legend__text .introText .introText__link a:hover, .mainContainer .legend .legend__text .introText .introText__link a:focus {
  text-decoration: none;
  filter: blur(1px);
}

/*Responsiveness for screens*/
@media screen and (max-width: 1600px) {
  body .mainContainer .navbar .navbar-brand {
    margin-left: 6%;
  }
}
@media screen and (max-width: 1350px) {
  body .mainContainer .navbar .navbar-brand {
    margin-left: 2%;
  }
}
@media screen and (max-width: 1200px) {
  body .mainContainer {
    padding: 0 3%;
  }
}
@media screen and (max-width: 1000px) {
  body .mainContainer {
    padding: 0 1%;
  }
  body .mainContainer .navbar .navbar-nav .last {
    position: relative !important;
  }
}
@media screen and (max-width: 767px) {
  body .mainContainer {
    padding: 0 2%;
    height: 800px !important;
  }
  body .mainContainer .navbar {
    margin-bottom: 200px;
  }
  body .mainContainer .navbar .navbar-brand {
    margin-left: 0 !important;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav {
    width: 100% !important;
    background-color: #333;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .last {
    position: relative !important;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    border-bottom: 2px solid #fff;
    transform: translateY(-5px);
  }
  body .mainContainer .legend {
    height: 550px;
  }
  body .mainContainer .legend .legend__text {
    padding: 0;
    height: 400px !important;
  }
  body .mainContainer .legend .legend__text .introText {
    width: 100%;
    text-align: center;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 32px;
  }
}
.about {
  background-image: url(assets/bg.png);
}

.about .content h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 10px 20px;
  background: rgba(var(#333333), 0.05);
  color: #333333;
  border-radius: 7px;
  display: inline-block;
}

.about .content h2 {
  font-weight: 700;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .read-more {
  background: #333333;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px 24px;
  border-radius: 5px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.about .content .read-more i {
  font-size: 18px;
  margin-left: 5px;
  line-height: 0;
  transition: 0.3s;
}

.about .content .read-more:hover {
  background: rgba(51, 51, 51, 0.8);
  padding-right: 19px;
}

.about .content .read-more:hover i {
  margin-left: 10px;
}

.about .icon-box {
  padding: 50px 40px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
}

.about .icon-box i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 0;
  transition: all 0.4s ease-out 0s;
  background-color: rgba(51, 51, 51, 0.05);
  color: #333333;
}

.about .icon-box h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.about .icon-box p {
  margin-bottom: 0;
}

.about .icon-box:hover i {
  background-color: #333333;
  color: #fff;
}

.about .icon-boxes .col-md-6:nth-child(2) .icon-box,
.about .icon-boxes .col-md-6:nth-child(4) .icon-box {
  margin-top: -40px;
}

@media (max-width: 768px) {
  .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
  .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
    margin-top: 0;
  }
}
.container1 .features a {
  background-color: #333333;
  padding: 10px;
  border-radius: 60px;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container1 .features {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.contact-buttons {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.contact-buttons a {
  padding: 10px;
  color: #333333;
  margin-right: 10px;
  font-weight: 700;
}

.whatsapp-button {
  background-color: rgba(44, 152, 42, 0.44);
}

.call-button {
  background-color: rgba(0, 190, 255, 0.37);
}

.container1 {
  width: 100%;
  height: max-content;
  margin: 50px auto;
  overflow: hidden;
  border: 1px solid #333333;
}

.col1,
.col2 {
  float: left;
  box-sizing: border-box;
}

.col1 {
  width: 30%;
}

.col2 {
  width: 70%;
}

.container1 .image {
  padding: 30px;
}

.container1 .price {
  padding: 0 0 0 20px;
  font-weight: 800;
}

.container1 .col2 .row h2 {
  padding: 30px 0 0 0;
  font-weight: 800;
}

.container1 .col2 .row p {
  padding: 10px 0 0 0;
  font-weight: 800;
  color: #7e7e7e;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container1:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-page .image img {
  margin-top: 20px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.form-page label {
  color: #333333;
}

/*# sourceMappingURL=style.css.map */
